body {
    background-color: rgb(98, 218, 116);
    
}

.nav{
    background-color: rgb(153, 56, 51);
    height: 100px;
   
    
}
.sidebar{
    background-color: rgb(166, 208, 115);
    color: rgb(138, 130, 130);
    width: 200px;

}
.body{
    background-color: rgb(174, 117, 110);
    height: 100vh;
width: 180vh; 



}
/* input{
    margin-left: 20px;
    color: black;
    background-color: rgb(244, 244, 248)  ;
} */
/* button{
    margin-left: 20px;
    background-color: aquamarine;
} */
h1{
    margin-left: 20px;
}

.signup{
    text-align: center;
    margin-top: 180px;
    margin-left: 140px;
    height: 50vh;
    width: 150vh;
    justify-content: center; 
    color: black;
   
}
.tasks-container{
    height: 100%;
    width: 200vh;
    background-color: rgb(98, 174, 119);
}
li{
    list-style: none;

}


.login-form{
    padding: 14px;
    text-align: center;
    /* background-color: rgb(96, 59, 11); */
height: 300px;
width: 340px;
background-color: aqua;
border-radius: 20px;
}
.nav-btn{
    margin-left: 300px;
}